{% import '_macros.html' as book_macros %}
{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
<form class="block mt-3" action="/" method="post">
    <div class="field has-addons" style="padding-left: 2%; padding-right: 2%;">
        <input class="input" type="text" placeholder="Find a book" name="find">
        <input type="submit" value="Submit" class="button is-info">
    </div>
</form>

{% for book in books %}
    {{ book_macros.show_book(book, comments) }}
{% endfor %}
{% endblock %}
