{% extends 'base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
<form class="block mt-3" action="/" method="post">
    <div class="field has-addons" style="padding-left: 2%; padding-right: 2%;">
        <input class="input" type="text" placeholder="Find a book" name="find">
        <input type="submit" value="Submit" class="button is-info">
    </div>
</form>

{% for book in books %}
    <article class="media" style="padding-left: 2%; padding-right: 2%;">
        <div class="media-content" >
            <div class="content">
                <p>
                    <h6 class="subtitle is-6">{{ book.title }}</h6>
                    <strong>By:</strong> {{ book.author }}<br>
                    <strong>ISBN:</strong> {{ book.isbn }}<br>
                    <strong>Publisher:</strong> {{ book.publisher }}
                </p>
            </div>


            <h5 class="title is-5">Comments:</h5>
            {% for comment in comments %}
                {% if comment.book_id == book.id %}
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-48x48">
                              <img src="https://picsum.photos/96/96">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                {{ comment.text }}
                            </div>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        </div>
    </article>
{% endfor %}
{% endblock %}
