{% import '_macros.html' as book_macros %}
{% extends 'base.html' %}

{% block title %}Request Book{% endblock %}

{% block content %}

<form class="box" method="post">

{% if g.user %}
    <fieldset>
{% else %}
    <fieldset disabled>
{% endif %}
        <label class="label">ISBN</label>
        <div class="control">
            <input name="isbn" class="input" type="text" placeholder="e.g 978-3103974829">
        </div>
        <br>

        <label class="label">Title</label>
        <div class="control">
            <input name="title" class="input" type="text" placeholder="e.g. Great Book">
        </div>
        <br>

        <label class="label">Author</label>
        <div class="control">
            <input name="author" class="input" type="text" placeholder="e.g Alex Smith">
        </div>
        <br>

        <label class="label">Publisher</label>
        <div class="control">
            <input name="publisher" class="input" type="text" placeholder="e.g. Great Publisher">
        </div>
        <br>

        <div class="field is-grouped">
            <p class="control">
                <input type="submit" value="Submit" class="button is-info">
                {% if not g.user %}
                <br><br>
                <label class="label">
                    You have to be logged in to request new books.
                </label>
                {% endif %}
            </p>
        </div>
    </fieldset>
</form>

<div class="field" style="padding-left: 2%; padding-right: 2%;">
    <h3 class="title is-3">Existing requests</h3>
</div>

{% for book in requests %}
    {{ book_macros.show_book(book, comments) }}
{% endfor %}
{% endblock %}
