{% import '_macros.html' as macros %}

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Profile of {% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical is-4 ">
            <div class="tile is-child is-hidden-mobile">
                <div class="tile is-child box is-primary is-info">
                    <figure class="image is-square">
                          <img src="https://picsum.photos/512/512">
                    </figure>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <form method="post" action="/user/{{ g.user['username'] }}" id="form1">
                    <p class="title">Edit your Profile</p>
                    <p class="subtitle">Logged in as user <b>{{ g.user['username'] }}</b></p>

                    <label class="label">Change your current name</label>
                    <div class="control">
                        <input name="username" class="input" type="text" placeholder="{{ g.user['username'] }}" id="username">
                    </div>
                    <br>

                    <label class="label">Change your current password</label>
                    <div class="control">
                        <input name="password" class="input" type="password" placeholder="password" id="password">
                    </div>
                    <br>
                </form>
                <div class="buttons are-default is-grouped">
                    <p class="control">
                        <button type="submit" name="delete" value="0" form="form1" class="button button is-success">Save changes</button>
                        <button type="submit" name="delete" value="1" form="form1" class="button button is-danger">Delete your Account</button>
                        <br><br>
                    </p>
                </div>
                {{ macros.show_errormsg() }}
            </div>
        </div>
    </div>

{% endblock %}